@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}
@theme {
    --color-background-main: #f6f7f9;
    --color-primary: #3563e9;
    --color-primary-light: #54a6ff;
    --color-secondary: #596780;
    --color-notifications: #ff4423;
    --color-text-secondary: #1a202c;
    --color-text-secondary-light: #90a3bf;
    --color-text-footer-secondary: #131313;
    --color-border-secondary: #e7eef6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
    input[type='range']::-webkit-slider-thumb {
        @apply appearance-none w-4 h-4 bg-primary border-2 border-white border-solid rounded-full cursor-pointer transition-all duration-150 ease-out;
    }
    input[type='range']::-moz-range-thumb {
        @apply w-4 h-4 bg-primary border-2 border-white border-solid rounded-full cursor-pointer transition-all duration-150 ease-out;
    }
}
